html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@font-face {
  font-family: 'starcraftnormal';
  src: url('starcraft-webfont.eot');
  src: url('starcraft-webfont.eot?#iefix') format('embedded-opentype'),
  url('starcraft-webfont.woff2') format('woff2'),
  url('starcraft-webfont.woff') format('woff'),
  url('starcraft-webfont.ttf') format('truetype'),
  url('starcraft-webfont.svg#starcraftnormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #55acee;
    font-family: starcraftnormal;
}

.resources {
    color: white;
    font-size: 1.3em;
    float: right;
}

.resourcesIcon {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    color: white;
    font-size: 1.3em;
    float: right; 
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    cursor: pointer;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #55acee;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #80CAD4;
}

.unitForm {
    border: 2px solid #338acc;
    width: 100%;   
    padding-bottom: 10px;
    background-color: #55acee;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 0px;
}



.makeUnitSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 90px;
    background-color: #55acee;
    border-radius: 2px;
    color: white;
    text-decoration: none;
}

.makeUnitSubmit:link, .makeUnitSubmit:visited, .makeUnitSubmit:hover, .makeUnitSubmit:active {
    color: white;
}


.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 200px;
    background-color: #55acee;
    border-radius: 2px;
    border-color: #66acee;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

#unitMessage {
    display:none;
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#unitMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#unit {
    z-index: 225;
    margin-top: -20px;
    margin-left: 0px;

}
.unit {
    width: 10%;
    overflow: hidden;
    display: inline;
}


img.unitFace {
    height: 50px;
    width: 50px;
}

img.produceIcon {
    height: 50px;
    width: 50px;
    margin-top: 0px;
    margin-right: 1px;
    border: 1px solid #89F7C5;
    background-color: #113D21;
    border-radius: 8px;
    cursor: pointer;
    
}
img.produceIcon2 {
    display: block;
}

.produceIcon2:hover {
  background-color: #89F7C5;
}
.produceIcon2:active {
  background-color: #89F7C5;
}

.produceIcon:hover {
  background-color: #89F7C5;
}
.produceIcon:active {
  background-color: #89F7C5;
}

h3.emptyunit {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.unitName {
    float:left;
    width: 100px;
    font-weight: bold;
    padding-left: 0px;
    font-size: 1.5em;
}

h3.unitType {
    float:left;
    text-align: left;
    width: 0px;
    font-weight: bold;
    padding-right: 0px;
    font-size: 1.5em;
}

.unitList{
  width: 50%;
}


.unit:first-child {
    margin-top: 10px;
}

.unit:last-child {
    margin-bottom:10px;
}

.info {
    //visibility: hidden;

    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
}

.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.popupResource{
    color: white;
    font-size: 1.3em;
    float: left;
}

.popupResourceIcon {
    width: 25px;
    height: 25px;
    margin-left: 0px;
    color: white;
    font-size: 1.3em;
    float: left;
}

img.depot{
    position: absolute;
    height: 50px;
    width: 50px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    right: 0px;
    top: 0px;
    border: 2px solid #89F7C5;
    border-radius: 8px;
    cursor: pointer;
}

.unitNumbers {
  position: absolute;
  
}

